fastapi
uvicorn[standard]
pydantic
requests
weaviate-client
tiktoken
python-dotenv
comet-ml
httpx
tenacity
PyJWT
pandas
jinja2
pytest
orjson
python-multipart
httpx
gradio
pydantic-settings==2.6.1
groq
pypdf
aiohttp
